[url "git@github.com:DataDog/"]
  insteadOf = https://github.com/DataDog/
[user]
  email = kira.ghandhi@datadoghq.com
  name = kghandhi
  token = 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
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDJmLlGGuel+/Yk2MJzE7WuGZ41II+5YswZoRMF5onX0 kira.ghandhi+git-commit-signing@datadoghq.com
[alias]
  ci = commit -v
  ds = diff --staged
  ci = commit
  cv = commit --verbose
  co = checkout
  st = status
  ch = cherry -v origin
  br = branch
  aa = add --all --verbose .
  addall = add -A .
  hist = log --graph --abbrev-commit --pretty=format:'%C(red)%h%C(reset) - %s %C(green)(%cr) %C(blue)<%an>%C(magenta)%d%C(reset)'
  oneline = log --pretty=format:\"%h %ad%x20%s%x20%x28%an%x29\" --date=short
  current = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
  cur = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1

  # show difference between the HEAD and the index
  staged = diff --cached
  ds = diff --staged

  # show difference between working tree and the index
  unstaged = diff

  pile = stash --include-untracked
[push]
  default = current
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[core]
    hooksPath = /usr/local/dd/global_hooks
[commit]
	gpgsign = true
[gpg]
	format = ssh
